<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <appSettings>
    <!-- Settings -->
    <add key="UseProxyScraper" value="true"/>
    <add key="UseSleepScraper" value="false"/>
    <add key="UseProxyApi" value="true"/>
    <add key="UseSleepApi" value="false"/>
    <add key="UseRandomPostCode" value="true"/>
    <add key="ProxyUrl" value="https://raw.githubusercontent.com/clarketm/proxy-list/master/proxy-list.txt"/>
    <!--<add key="ProxyUrl" value="http://spys.me/proxy.txt"/>-->
    <!--<add key="ProxyUrl" value="https://raw.githubusercontent.com/clarketm/proxy-list/a9f2/proxy-list.txt"/>-->
    <add key="TimeoutMilliSecs" value="3000" />
    <add key="MinSleepMilliSecs" value="3500" />
    <add key="MaxSleepMilliSecs" value="5000" />
    <add key="DefaultLocation" value="United Kingdom" />
    <add key="NoImageLink" value="/images/noimage/no_image_266x200.png" />

    <!-- User Agents -->
    <add key="UserAgent1" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36"/>
    <add key="UserAgent2" value="Mozilla/5.0 (Linux; Android 8.0.0; SM-G960F Build/R16NW) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.84 Mobile Safari/537.36"/>
    <add key="UserAgent3" value="Mozilla/5.0 (Linux; Android 7.0; SM-G892A Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/60.0.3112.107 Mobile Safari/537.36"/>
    <add key="UserAgent4" value="Mozilla/5.0 (Linux; Android 7.0; SM-G930VC Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36"/>
    <add key="UserAgent5" value="Mozilla/5.0 (Linux; Android 6.0.1; SM-G935S Build/MMB29K; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/55.0.2883.91 Mobile Safari/537.36"/>
    <add key="UserAgent6" value="Mozilla/5.0 (Linux; Android 6.0.1; SM-G920V Build/MMB29K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.98 Mobile Safari/537.36"/>
    <add key="UserAgent7" value="Mozilla/5.0 (Linux; Android 5.1.1; SM-G928X Build/LMY47X) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.83 Mobile Safari/537.36"/>
    <add key="UserAgent8" value="Mozilla/5.0 (Linux; Android 6.0.1; Nexus 6P Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.83 Mobile Safari/537.36"/>
    <add key="UserAgent9" value="Mozilla/5.0 (Linux; Android 7.1.1; G8231 Build/41.2.A.0.219; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/59.0.3071.125 Mobile Safari/537.36"/>
    <add key="UserAgent10" value="Mozilla/5.0 (Linux; Android 6.0.1; E6653 Build/32.2.A.0.253) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.98 Mobile Safari/537.36"/>
    <add key="UserAgent11" value="Mozilla/5.0 (Linux; Android 6.0; HTC One X10 Build/MRA58K; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/61.0.3163.98 Mobile Safari/537.36"/>
    <add key="UserAgent12" value="Mozilla/5.0 (Linux; Android 6.0; HTC One M9 Build/MRA58K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.98 Mobile Safari/537.3"/>
    <add key="UserAgent13" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1"/>
    <add key="UserAgent14" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/69.0.3497.105 Mobile/15E148 Safari/605.1"/>
    <add key="UserAgent15" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) FxiOS/13.2b11866 Mobile/16A366 Safari/605.1.15"/>
    <add key="UserAgent16" value="Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A372 Safari/604.1"/>
    <add key="UserAgent18" value="Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.34 (KHTML, like Gecko) Version/11.0 Mobile/15A5341f Safari/604.1"/>
    <add key="UserAgent19" value="Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A5370a Safari/604.1"/>
    <add key="UserAgent20" value="Mozilla/5.0 (iPhone9,3; U; CPU iPhone OS 10_0_1 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A403 Safari/602.1"/>
    <add key="UserAgent21" value="Mozilla/5.0 (iPhone9,4; U; CPU iPhone OS 10_0_1 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A403 Safari/602.1"/>
    <add key="UserAgent22" value="Mozilla/5.0 (Apple-iPhone7C2/1202.466; U; CPU like Mac OS X; en) AppleWebKit/420+ (KHTML, like Gecko) Version/3.0 Mobile/1A543 Safari/419.3"/>
    <add key="UserAgent23" value="Mozilla/5.0 (Windows Phone 10.0; Android 6.0.1; Microsoft; RM-1152) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Mobile Safari/537.36 Edge/15.15254"/>
    <add key="UserAgent24" value="Mozilla/5.0 (Windows Phone 10.0; Android 4.2.1; Microsoft; RM-1127_16056) AppleWebKit/537.36(KHTML, like Gecko) Chrome/42.0.2311.135 Mobile Safari/537.36 Edge/12.10536"/>
    <add key="UserAgent25" value="Mozilla/5.0 (Windows Phone 10.0; Android 4.2.1; Microsoft; Lumia 950) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Mobile Safari/537.36 Edge/13.1058"/>
    <add key="UserAgent26" value="Mozilla/5.0 (Linux; Android 7.0; Pixel C Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/52.0.2743.98 Safari/537.36"/>
    <add key="UserAgent27" value="Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Build/32.2.A.0.253; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/52.0.2743.98 Safari/537.36"/>
    <add key="UserAgent28" value="Mozilla/5.0 (Linux; Android 6.0.1; SHIELD Tablet K1 Build/MRA58K; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/55.0.2883.91 Safari/537.36"/>
    <add key="UserAgent29" value="Mozilla/5.0 (Linux; Android 7.0; SM-T827R4 Build/NRD90M) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.116 Safari/537.36"/>
    <add key="UserAgent30" value="Mozilla/5.0 (Linux; Android 5.0.2; SAMSUNG SM-T550 Build/LRX22G) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/3.3 Chrome/38.0.2125.102 Safari/537.36"/>
    <add key="UserAgent31" value="Mozilla/5.0 (Linux; Android 4.4.3; KFTHWI Build/KTU84M) AppleWebKit/537.36 (KHTML, like Gecko) Silk/47.1.79 like Chrome/47.0.2526.80 Safari/537.36"/>
    <add key="UserAgent32" value="Mozilla/5.0 (Linux; Android 5.0.2; LG-V410/V41020c Build/LRX22G) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/34.0.1847.118 Safari/537.36"/>
    <add key="UserAgent33" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246"/>
    <add key="UserAgent34" value="Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.64 Safari/537.36"/>
    <add key="UserAgent35" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9"/>
    <add key="UserAgent36" value="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.111 Safari/537.36"/>
    <add key="UserAgent37" value="Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:15.0) Gecko/20100101 Firefox/15.0.1"/>
    <add key="UserAgent38" value="Mozilla/5.0 (CrKey armv7l 1.5.16041) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.0 Safari/537.36"/>
    <add key="UserAgent39" value="Roku4640X/DVP-7.70 (297.70E04154A)"/>
    <add key="UserAgent40" value="Mozilla/5.0 (Linux; U; Android 4.2.2; he-il; NEO-X5-116A Build/JDQ39) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Safari/534.30"/>
    <add key="UserAgent41" value="Mozilla/5.0 (Linux; Android 5.1; AFTS Build/LMY47O) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/41.99900.2250.0242 Safari/537.36"/>
    <add key="UserAgent42" value="Dalvik/2.1.0 (Linux; U; Android 6.0.1; Nexus Player Build/MMB29T)"/>
    <add key="UserAgent43" value="AppleTV6,2/11.1"/>
    <add key="UserAgent44" value="AppleTV5,3/9.1.1"/>
    <add key="UserAgent45" value="Mozilla/5.0 (Nintendo WiiU) AppleWebKit/536.30 (KHTML, like Gecko) NX/3.0.4.2.12 NintendoBrowser/4.3.1.11264.US"/>
    <add key="UserAgent46" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64; XBOX_ONE_ED) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393"/>
    <add key="UserAgent47" value="Mozilla/5.0 (Windows Phone 10.0; Android 4.2.1; Xbox; Xbox One) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Mobile Safari/537.36 Edge/13.10586"/>
    <add key="UserAgent48" value="Mozilla/5.0 (PlayStation 4 3.11) AppleWebKit/537.73 (KHTML, like Gecko)"/>
    <add key="UserAgent49" value="Mozilla/5.0 (PlayStation Vita 3.61) AppleWebKit/537.73 (KHTML, like Gecko) Silk/3.2"/>
    <add key="UserAgent50" value="Mozilla/5.0 (Nintendo 3DS; U; ; en) Version/1.7412.EU"/>
    <add key="UserAgent51" value="Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"/>
    <add key="UserAgent52" value="Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)"/>
    <add key="UserAgent53" value="Mozilla/5.0 (compatible; Yahoo! Slurp; http://help.yahoo.com/help/us/ysearch/slurp)"/>
    <add key="UserAgent54" value="Mozilla/5.0 (X11; U; Linux armv7l like Android; en-us) AppleWebKit/531.2+ (KHTML, like Gecko) Version/5.0 Safari/533.2+ Kindle/3.0+"/>
    <add key="UserAgent55" value="Mozilla/5.0 (Linux; U; en-US) AppleWebKit/528.5+ (KHTML, like Gecko, Safari/528.5+) Version/4.0 Kindle/3.0 (screen 600x800; rotate)"/>

    <!-- API Settings -->
    <add key="ApiAutotraderEndPoint" value="https://www.autotrader.co.uk/json/fpa/initial/" />
    <add key="ApiMotKey" value="KfpqKXpcWJ1wiDJGemXHeaQ9YdbDvPpj204ASzJj" />
    <add key="ApiMotHistoryUrl" value="https://beta.check-mot.service.gov.uk/trade/vehicles/mot-tests?registration=" />
    <add key="AutotraderImageResizeRegexFind" value="{resize}"/>
    <add key="AutotraderImageResizeRegexReplace" value="w267h200pdfdfdf"/>

    <!-- Body Types -->
    <add key="BodyTypeConvertible" value="Convertible" />
    <add key="BodyTypeCoupe" value="Coupe" />
    <add key="BodyTypeEstate" value="Estate" />
    <add key="BodyTypeHatchback" value="Hatchback" />
    <add key="BodyTypeMPV" value="MPV" />
    <add key="BodyTypePickup" value="Pickup" />
    <add key="BodyTypeSUV" value="SUV" />
    <add key="BodyTypeSaloon" value="Saloon" />
    <add key="BodyTypeOther" value="Other" />

    <!-- Fuel Types -->
    <add key="FuelTypeBiFuel" value="Bi Fuel" />
    <add key="FuelTypePetrol" value="Petrol" />
    <add key="FuelTypePetrolEthanol" value="Petrol Ethanol" />
    <add key="FuelTypeDiesel" value="Diesel" />
    <add key="FuelTypeElectric" value="Electric" />
    <add key="FuelTypeHybrid1" value="Hybrid – Diesel/Electric" />
    <add key="FuelTypeHybrid2" value="Hybrid – Diesel/Electric Plug-in" />
    <add key="FuelTypeHybrid3" value="Hybrid – Petrol/Electric" />
    <add key="FuelTypeHybrid4" value="Hybrid – Petrol/Electric Plug-in" />

    <!-- Transmission Types -->
    <add key="TransmissionTypeAutomatic" value="Automatic" />
    <add key="TransmissionTypeManual" value="Manual" />
    <add key="TransmissionTypeSemiAutomatic" value="Semi-Automatic" />

    <!-- Post Codes -->
    <add key="PstCde1" value="e10la" />
    <add key="PstCde2" value="e10lb" />
    <add key="PstCde3" value="e10ld" />
    <add key="PstCde4" value="e10le" />
    <add key="PstCde5" value="e10lf" />
    <add key="PstCde6" value="e10lg" />
    <add key="PstCde7" value="e10lh" />
    <add key="PstCde8" value="e10lj" />
    <add key="PstCde9" value="e10ll" />
    <add key="PstCde10" value="e10ln" />
    <add key="PstCde11" value="e10lp" />
    <add key="PstCde12" value="e10lq" />
    <add key="PstCde13" value="e10lr" />
    <add key="PstCde14" value="e10ls" />
    <add key="PstCde15" value="e10lt" />
    <add key="PstCde16" value="e10lw" />

    <!-- Scrape List -->
    <!-- IMPORTANT: Only use HTTP, not HTTPS (some proxies do not accept HTTPS)-->
    <!-- IMPORTANT: Ensure sort is by "datedesc" -->
    <add key="ScrapeAstra" value="2 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=30&amp;postcode=sw25uq&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VAUXHALL&amp;model=ASTRA&amp;price-from=2000&amp;price-to=3500&amp;year-from=2010&amp;maximum-mileage=80000&amp;fuel-type=Petrol&amp;maximum-badge-engine-size=1.6&amp;quantity-of-doors=5&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeA4" value="1 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=200&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=AUDI&amp;model=A4&amp;aggregatedTrim=S%20line&amp;price-to=7500&amp;year-from=2009&amp;maximum-mileage=90000&amp;body-type=Saloon&amp;fuel-type=Petrol&amp;zero-to-60=TO_8&amp;exclude-writeoff-categories=on" />
    <add key="Scrape5Series" value="1 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=200&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=BMW&amp;model=5%20SERIES&amp;aggregatedTrim=M%20Sport&amp;price-to=7500&amp;year-from=2007&amp;maximum-mileage=90000&amp;body-type=Saloon&amp;fuel-type=Petrol&amp;exclude-writeoff-categories=on" />
    <add key="Scrape3Series" value="1 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=200&amp;postcode=ig119hs&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=BMW&amp;model=3%20SERIES&amp;aggregatedTrim=M%20Sport&amp;price-to=5500&amp;year-from=2007&amp;maximum-mileage=90000&amp;body-type=Coupe&amp;Saloon&amp;fuel-type=Petrol&amp;transmission=Automatic&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeGolfGte" value="2 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=GOLF&amp;aggregatedTrim=GTE&amp;price-to=16000&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeGolfGtd" value="3 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=GOLF&amp;aggregatedTrim=GTD&amp;price-from=8000&amp;price-to=13000&amp;year-from=2012&amp;maximum-mileage=90000&amp;transmission=Automatic&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeGolfGti" value="2 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=GOLF&amp;aggregatedTrim=GTI&amp;price-from=8000&amp;price-to=13000&amp;year-from=2012&amp;maximum-mileage=90000&amp;transmission=Automatic&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeGolfTsi" value="12 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=GOLF&amp;aggregatedTrim=TSI&amp;price-from=8000&amp;price-to=13000&amp;year-from=2012&amp;maximum-mileage=90000&amp;transmission=Automatic&amp;exclude-writeoff-categories=on" />
    <add key="ScrapePoloDsg" value="13 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=POLO&amp;price-from=4000&amp;price-to=9000&amp;year-from=2010&amp;maximum-mileage=80000&amp;transmission=Automatic&amp;quantity-of-doors=5&amp;exclude-writeoff-categories=on" />
  </appSettings>
  <connectionStrings>
    <add name="AutotraderScraperConnection" connectionString="Data Source=.;Initial Catalog=AutotraderScraperV2;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>