<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Settings -->
    <add key="UseProxy" value="true"/>
    <add key="UseSleep" value="false"/>
    <add key="UseRandomPostCode" value="true"/>
    <add key="ProxyUrl" value="https://raw.githubusercontent.com/clarketm/proxy-list/master/proxy-list.txt"/>
    <!--<add key="ProxyUrl" value="http://spys.me/proxy.txt"/>-->
    <!--<add key="ProxyUrl" value="https://raw.githubusercontent.com/clarketm/proxy-list/a9f2/proxy-list.txt"/>-->
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36"/>
    <add key="TimeoutMilliSecs" value="3000" />
    <add key="MinSleepMilliSecs" value="1000" />
    <add key="MaxSleepMilliSecs" value="3000" />
    <add key="DefaultLocation" value="United Kingdom" />
    <add key="NoImageLink" value="/images/noimage/no_image_266x200.png" />

    <!-- Body Types -->
    <add key="BodyTypeConvertible" value="Convertible" />
    <add key="BodyTypeCoupe" value="Coupe" />
    <add key="BodyTypeEstate" value="Estate" />
    <add key="BodyTypeHatchback" value="Hatchback" />
    <add key="BodyTypeMPV" value="MPV" />
    <add key="BodyTypePickup" value="Pickup" />
    <add key="BodyTypeSUV" value="SUV" />
    <add key="BodyTypeSaloon" value="Saloon" />
    <add key="BodyTypeOther" value="Other" />

    <!-- Fuel Types -->
    <add key="FuelTypeBiFuel" value="Bi Fuel" />
    <add key="FuelTypePetrol" value="Petrol" />
    <add key="FuelTypePetrolEthanol" value="Petrol Ethanol" />
    <add key="FuelTypeDiesel" value="Diesel" />
    <add key="FuelTypeElectric" value="Electric" />
    <add key="FuelTypeHybrid1" value="Hybrid – Diesel/Electric" />
    <add key="FuelTypeHybrid2" value="Hybrid – Diesel/Electric Plug-in" />
    <add key="FuelTypeHybrid3" value="Hybrid – Petrol/Electric" />
    <add key="FuelTypeHybrid4" value="Hybrid – Petrol/Electric Plug-in" />

    <!-- Transmission Types -->
    <add key="TransmissionTypeAutomatic" value="Automatic" />
    <add key="TransmissionTypeManual" value="Manual" />
    <add key="TransmissionTypeSemiAutomatic" value="Semi-Automatic" />

    <!-- Post Codes -->
    <add key="PstCde1" value="e10la" />
    <add key="PstCde2" value="e10lb" />
    <add key="PstCde3" value="e10ld" />
    <add key="PstCde4" value="e10le" />
    <add key="PstCde5" value="e10lf" />
    <add key="PstCde6" value="e10lg" />
    <add key="PstCde7" value="e10lh" />
    <add key="PstCde8" value="e10lj" />
    <add key="PstCde9" value="e10ll" />
    <add key="PstCde10" value="e10ln" />
    <add key="PstCde11" value="e10lp" />
    <add key="PstCde12" value="e10lq" />
    <add key="PstCde13" value="e10lr" />
    <add key="PstCde14" value="e10ls" />
    <add key="PstCde15" value="e10lt" />
    <add key="PstCde16" value="e10lw" />

    <!-- Scrape List -->
    <!-- IMPORTANT: Only use HTTP, not HTTPS (some proxies do not accept HTTPS)-->
    <!-- IMPORTANT: Ensure sort is by "datedesc" -->
    <add key="ScrapeAstra" value="2 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=30&amp;postcode=sw25uq&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VAUXHALL&amp;model=ASTRA&amp;price-from=2000&amp;price-to=3500&amp;year-from=2010&amp;maximum-mileage=80000&amp;fuel-type=Petrol&amp;maximum-badge-engine-size=1.6&amp;quantity-of-doors=5&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeA4" value="1 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=200&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=AUDI&amp;model=A4&amp;aggregatedTrim=S%20line&amp;price-to=7500&amp;year-from=2009&amp;maximum-mileage=90000&amp;body-type=Saloon&amp;fuel-type=Petrol&amp;zero-to-60=TO_8&amp;exclude-writeoff-categories=on" />
    <add key="Scrape5Series" value="1 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=200&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=BMW&amp;model=5%20SERIES&amp;aggregatedTrim=M%20Sport&amp;price-to=7500&amp;year-from=2007&amp;maximum-mileage=90000&amp;body-type=Saloon&amp;fuel-type=Petrol&amp;exclude-writeoff-categories=on" />
    <add key="Scrape3Series" value="1 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=200&amp;postcode=ig119hs&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=BMW&amp;model=3%20SERIES&amp;aggregatedTrim=M%20Sport&amp;price-to=5500&amp;year-from=2007&amp;maximum-mileage=90000&amp;body-type=Coupe&amp;Saloon&amp;fuel-type=Petrol&amp;transmission=Automatic&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeGolfGte" value="2 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=GOLF&amp;aggregatedTrim=GTE&amp;price-to=16000&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeGolfGtd" value="3 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=GOLF&amp;aggregatedTrim=GTD&amp;price-from=8000&amp;price-to=13000&amp;year-from=2012&amp;maximum-mileage=90000&amp;transmission=Automatic&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeGolfGti" value="2 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=GOLF&amp;aggregatedTrim=GTI&amp;price-from=8000&amp;price-to=13000&amp;year-from=2012&amp;maximum-mileage=90000&amp;transmission=Automatic&amp;exclude-writeoff-categories=on" />
    <add key="ScrapeGolfTsi" value="12 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=GOLF&amp;aggregatedTrim=TSI&amp;price-from=8000&amp;price-to=13000&amp;year-from=2012&amp;maximum-mileage=90000&amp;transmission=Automatic&amp;exclude-writeoff-categories=on" />
    <add key="ScrapePoloDsg" value="13 http://www.autotrader.co.uk/car-search?sort=datedesc&amp;radius=1500&amp;postcode=pstcde&amp;onesearchad=Used&amp;onesearchad=Nearly%20New&amp;onesearchad=New&amp;make=VOLKSWAGEN&amp;model=POLO&amp;price-from=4000&amp;price-to=9000&amp;year-from=2010&amp;maximum-mileage=80000&amp;transmission=Automatic&amp;quantity-of-doors=5&amp;exclude-writeoff-categories=on" />
  </appSettings>
  <connectionStrings>
    <add name="AutotraderScraperConnection" connectionString="Data Source=.;Initial Catalog=AutotraderScraper;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>